/*  Created on : 22-Jun-2015, 20:55:34 Author     : ashley
*/
/*  Created on : 22-Jun-2015, 21:45:40 Author     : ashley
*/
/*  Created on : 22-Jun-2015, 21:00:30 Author     : ashley
*/
* { -moz-box-sizing: content-box; box-sizing: content-box; }

html { height: 100%; }

body { margin: 0; font-family: "Lato", Arial, Verdana, sans-serif; background-color: #eeeeee; color: #333333; font-size: 12pt; height: 100%; }

header { background-repeat: no-repeat; background-image: url(/img/maverick/logo_small_w300.png); background-size: 150px auto; padding-top: 160px; background-color: #333333; color: #eeeeee; width: 150px; height: 100%; float: left; }
.basic header { background-image: url(/img/maverick/logo_large_w600.png); background-size: 600px auto; background-position: center top; background-color: #eeeeee; height: 330px; width: 100%; padding-top: 0; float: none; }
header nav { display: block; }
header nav a { color: #eeeeee; text-decoration: none; text-transform: uppercase; padding: 60px 5px 5px; display: block; background-repeat: no-repeat; background-position: center 10px; text-align: center; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
header nav a:hover, header nav a.active { background-color: #0d80b9; }
header nav a.home { background-image: url(/img/maverick/icons/home.png); }
header nav a.forms { background-image: url(/img/maverick/icons/forms.png); }
header nav a.media { background-image: url(/img/maverick/icons/media.png); }
header nav a.pages { background-image: url(/img/maverick/icons/pages.png); }
header nav a.users { background-image: url(/img/maverick/icons/users.png); }
header nav a.logout { background-image: url(/img/maverick/icons/logout.png); }
header h1 { margin: 0; text-indent: -999em; height: 0; }

section.main { padding: 10px 10px 10px 160px; }

/*  Created on : 22-Jun-2015, 20:55:34 Author     : ashley
*/
input { border: 1px solid #cccccc; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
input[type=submit], input[type=button] { background-repeat: no-repeat; }
input[type=submit]:hover, input[type=button]:hover { -webkit-box-shadow: 0px 0px 5px 1px #0d80b9; -moz-box-shadow: 0px 0px 5px 1px #0d80b9; box-shadow: 0px 0px 5px 1px #0d80b9; }
input:focus { -webkit-box-shadow: 0px 0px 5px 1px #0d80b9; -moz-box-shadow: 0px 0px 5px 1px #0d80b9; box-shadow: 0px 0px 5px 1px #0d80b9; }

form[name=login] { width: 600px; margin: 10px auto; }
form[name=login] label { width: 80%; display: block; margin: 0 auto; clear: both; }
form[name=login] label input { width: 50%; float: right; padding: 5px; margin-bottom: 10px; }
form[name=login] input[type=submit] { background-image: url(/img/maverick/icons/dialog-ok-apply.png); background-size: auto 30px; background-position: 10px center; padding: 10px; margin: 10px auto; display: block; width: 400px; }

.form_elements.edit { width: 600px; }
.form_elements.edit .form_element { display: block; width: 100%; background-color: #dddddd; border-radius: 1em; margin-bottom: 20px; padding: 10px; }
.form_elements.edit .form_element .label { margin-bottom: 10px; height: 20px; background-repeat: no-repeat; }
.form_elements.edit .form_element .element { background-color: #eeeeee; border-radius: 1em; padding: 10px; position: relative; }
.form_elements.edit .form_element .element:after { content: "preview"; position: absolute; bottom: 5px; right: 5px; color: #dddddd; text-shadow: 1px 1px 0 #333333; }

/*  Created on : 23-Jun-2015, 00:12:12 Author     : ashley
*/
table.item_table { border-collapse: collapse; border: 1px solid #cccccc; }
table.item_table th, table.item_table td { border: 1px solid #cccccc; padding: 10px; }
table.item_table th { background-color: #333333; color: #eeeeee; }
table.item_table a { background-repeat: no-repeat; background-size: auto 20px; background-position: center center; display: inline-block; width: 20px; height: 20px; text-indent: -999em; position: relative; padding: 10px; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
table.item_table a[href*=edit] { background-image: url(/img/maverick/icons/edit.png); }
table.item_table a[href*=delete] { background-image: url(/img/maverick/icons/delete.png); }
table.item_table a[href*=duplicate] { background-image: url(/img/maverick/icons/duplicate.png); }
table.item_table a:hover { background-color: #0d80b9; }
