@charset "UTF-8";
/*  Created on : 22-Jun-2015, 20:55:34 Author     : ashley
*/
/*  Created on : 22-Jun-2015, 21:45:40 Author     : ashley
*/
/*  Created on : 22-Jun-2015, 21:00:30 Author     : ashley
*/
* { -moz-box-sizing: content-box; box-sizing: content-box; }

html { height: 100%; }

body { margin: 0; font-family: "Lato", Arial, Verdana, sans-serif; background-color: #eeeeee; color: #333333; font-size: 12pt; height: 100%; }

header { background-repeat: no-repeat; background-image: url(/img/maverick/logo_small_w300.png); background-size: 150px auto; padding-top: 160px; background-color: #333333; color: #eeeeee; width: 150px; height: 100%; float: left; }
.basic header { background-image: url(/img/maverick/logo_large_w600.png); background-size: 600px auto; background-position: center top; background-color: #eeeeee; height: 330px; width: 100%; padding-top: 0; float: none; }
header nav { display: block; }
header nav a { color: #eeeeee; text-decoration: none; text-transform: uppercase; padding: 60px 5px 5px; display: block; background-repeat: no-repeat; background-position: center 10px; text-align: center; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
header nav a:hover, header nav a.active { background-color: #0d80b9; }
header nav a.home { background-image: url(/img/maverick/icons/home.png); }
header nav a.forms { background-image: url(/img/maverick/icons/forms.png); }
header nav a.media { background-image: url(/img/maverick/icons/media.png); }
header nav a.pages { background-image: url(/img/maverick/icons/pages.png); }
header nav a.users { background-image: url(/img/maverick/icons/users.png); }
header nav a.logout { background-image: url(/img/maverick/icons/logout.png); }
header h1 { margin: 0; text-indent: -999em; height: 0; }

a.action, button.action, input[type=submit].action { background-repeat: no-repeat; background-size: auto 26px; background-position: center center; display: inline-block; width: 20px; height: 20px; text-indent: -999em; position: relative; padding: 10px; cursor: pointer; border: 1px solid #cccccc; border-radius: 0.5em; margin-right: 10px; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
a.action.full, button.action.full, input[type=submit].action.full { width: 140px; text-indent: inherit; padding-left: 30px; background-position: 5px center; background-color: #dddddd; color: #333333; text-decoration: none; text-align: center; }
a.action:hover, button.action:hover, input[type=submit].action:hover { background-color: #0d80b9; color: #eeeeee; }
a.action.edit, button.action.edit, input[type=submit].action.edit { background-image: url(/img/maverick/icons/edit.png); }
a.action.delete, button.action.delete, input[type=submit].action.delete { background-image: url(/img/maverick/icons/delete.png); }
a.action.duplicate, button.action.duplicate, input[type=submit].action.duplicate { background-image: url(/img/maverick/icons/duplicate.png); }
a.action.save, button.action.save, input[type=submit].action.save { background-image: url(/img/maverick/icons/save.png); }
a.action.add_element, button.action.add_element, input[type=submit].action.add_element { background-image: url(/img/maverick/icons/add_element.png); }
a.action.new_form, button.action.new_form, input[type=submit].action.new_form { background-image: url(/img/maverick/icons/form_new.png); }
a.action.deleted_forms, button.action.deleted_forms, input[type=submit].action.deleted_forms { background-image: url(/img/maverick/icons/trash.png); }
a.action.delete_full, button.action.delete_full, input[type=submit].action.delete_full { background-image: url(/img/maverick/icons/delete.png); }
a.action.undelete, button.action.undelete, input[type=submit].action.undelete { background-image: url(/img/maverick/icons/restore.png); }
a.action.new_user, button.action.new_user, input[type=submit].action.new_user { background-image: url(/img/maverick/icons/new_user.png); }
a.action.update_permissions, button.action.update_permissions, input[type=submit].action.update_permissions { background-image: url(/img/maverick/icons/user_permissions.png); }
a.action.list_permissions, button.action.list_permissions, input[type=submit].action.list_permissions { background-image: url(/img/maverick/icons/permissions.png); }
a.action.add_permission, button.action.add_permission, input[type=submit].action.add_permission { background-image: url(/img/maverick/icons/add.png); }
a.action.save_permissions, button.action.save_permissions, input[type=submit].action.save_permissions { background-image: url(/img/maverick/icons/save.png); }
a.action.delete_permission, button.action.delete_permission, input[type=submit].action.delete_permission { background-image: url(/img/maverick/icons/delete.png); }
a.action.delete_user, button.action.delete_user, input[type=submit].action.delete_user { background-image: url(/img/maverick/icons/delete.png); }
a.action.save_user, button.action.save_user, input[type=submit].action.save_user { background-image: url(/img/maverick/icons/save.png); }

.error { display: block; background: #ff8888; color: #333333; border: 1px solid red; border-radius: 0.5em; padding: 5px 10px; margin-bottom: 10px; width: 100%; -webkit-box-shadow: 0px 0px 5px 1px red; -moz-box-shadow: 0px 0px 5px 1px red; box-shadow: 0px 0px 5px 1px red; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

section.main { padding: 10px; float: left; }
.basic section.main { float: none; }

/*  Created on : 22-Jun-2015, 20:55:34 Author     : ashley
*/
label { display: block; clear: both; width: 80%; margin-bottom: 10px; }
label input, label textarea, label select { width: 70%; float: right; }

input { border: 1px solid #cccccc; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; transition: all 0.5s ease 0s; }
input[type=submit], input[type=button] { background-repeat: no-repeat; }
input[type=submit]:hover, input[type=button]:hover { -webkit-box-shadow: 0px 0px 5px 1px #0d80b9; -moz-box-shadow: 0px 0px 5px 1px #0d80b9; box-shadow: 0px 0px 5px 1px #0d80b9; }
input:focus { -webkit-box-shadow: 0px 0px 5px 1px #0d80b9; -moz-box-shadow: 0px 0px 5px 1px #0d80b9; box-shadow: 0px 0px 5px 1px #0d80b9; }
input[readonly] { background-color: #eeeeee; color: #999999; }

.tabbed { position: relative; margin-top: 20px; }
.tabbed .tab-nav { margin: 0 0 0 10px; padding: 0; }
.tabbed .tab-nav li { list-style-type: none; display: inline-block; padding: 3px; width: 100px; text-align: center; background-color: #cccccc; cursor: pointer; -moz-border-radius-topleft: 1em; -moz-border-radius-topright: 1em; -webkit-border-top-left-radius: 1em; -webkit-border-top-right-radius: 1em; border-top-left-radius: 1em; border-top-right-radius: 1em; }
.tabbed .tab-nav li.active { background-color: #eeeeee; }
.tabbed .tab-nav li:not(.active):hover { background-color: #0d80b9; color: #eeeeee; }
.tabbed .tab { display: none; }
.tabbed .tab .tab-content { background-color: #eeeeee; padding: 10px; -moz-border-radius-bottomleft: 1em; -moz-border-radius-bottomright: 1em; -webkit-border-bottom-left-radius: 1em; -webkit-border-bottom-right-radius: 1em; border-bottom-left-radius: 1em; border-bottom-right-radius: 1em; }
.tabbed .tab.active { display: block; }

form[name=login] { width: 600px; margin: 10px auto; }
form[name=login] label { margin: 0 auto; }
form[name=login] label input { width: 50%; float: right; padding: 5px; margin-bottom: 10px; }
form[name=login] input[type=submit] { background-image: url(/img/maverick/icons/dialog-ok-apply.png); background-size: auto 30px; background-position: 10px center; padding: 10px; margin: 10px auto; display: block; width: 400px; }

.user.edit, .form_elements.edit { width: 600px; }

.form_elements.edit .form_details, .form_elements.edit .form_element { display: block; width: 100%; background-color: #dddddd; border-radius: 1em; padding: 10px; margin: 10px 0; }
.form_elements.edit .form_element .action { float: right; padding: 5px; margin-bottom: 10px; }
.form_elements.edit .form_element .action:last-child { margin-right: 0; }
.form_elements.edit .form_element .label { margin-bottom: 10px; height: 20px; background-repeat: no-repeat; position: relative; cursor: pointer; width: 90%; padding: 5px; }
.form_elements.edit .form_element .label:after { content: "▾"; position: absolute; right: 10px; top: 0; }
.form_elements.edit .form_element .label:hover { background-color: #cccccc; }
.form_elements.edit .form_element .element { background-color: #eeeeee; border-radius: 0.5em; padding: 10px; position: relative; clear: right; }
.form_elements.edit .form_element .element:after { content: "preview"; position: absolute; bottom: 5px; right: 5px; color: #dddddd; text-shadow: 1px 1px 0 grey; }
.form_elements.edit .details { display: none; }
.form_elements.edit .details.active { display: block; }

.user.edit input { width: 60%; }

/*  Created on : 23-Jun-2015, 00:12:12 Author     : ashley
*/
table.item_table { border-collapse: collapse; border: 1px solid #cccccc; margin: 10px 0; }
table.item_table th, table.item_table td { border: 1px solid #cccccc; padding: 10px; }
table.item_table th input, table.item_table td input { width: 350px; }
table.item_table th input.short, table.item_table td input.short { width: 50px; }
table.item_table th { background-color: #333333; color: #eeeeee; }
