/* 
    Created on : 23-Jun-2015, 00:12:12
    Author     : ashley
*/

table.item_table
{
	border-collapse: collapse;
	border: 1px solid $grey;
	
	th, td
	{
		border: 1px solid $grey;
		padding: $spacing;
	}
	th
	{
		background-color: $dark;
		color: $light;
	}
}