/* 
    Created on : 22-Jun-2015, 21:45:40
    Author     : ashley
*/

$light : #eee;
$dark : #333;
$grey : #ccc;
$highlight : #0d80b9;

$font-size : 12pt;
$body-font : "Lato",Arial, Verdana, sans-serif;

$spacing : 10px;